- @title = "Chat with us!"

hgroup.page-title
  h2=@title
  i "There are no stupid questions, only stupid answers."

section
  markdown:
    Feel free to pop in and chat with other Rubyists in the Stockholm Ruby community.

    ### Forum

    [Meetup.com discussion board](http://www.meetup.com/sthlmrb/messages/boards/)

    ### IRC

    Network address: *irc.freenode.net*

    Channel: *\#rails.se*

    This channel is for the entire Swedish Ruby and Rails community.

section
  iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=Rubyist?#rails.se" style="border:0; width:100%; height:450px;"
