- @title = "Chat with us!"

hgroup.page-title
  h2 = @title

section
  markdown:
    Got some slack time? Feel free to pop in and chat with others in the Stockholm Ruby community.

    Join our chat room at <https://sthlmrb.slack.com>.

    There's [an IRC gateway](https://sthlmrb.slack.com/account/gateways) if you prefer.

    <script async defer src="http://slack-sthlmrb.herokuapp.com/slackin.js?large"></script>

    You can [request an automatic invite](http://slack-sthlmrb.herokuapp.com). If that fails, email us and we'll send you one:
    [Teo](mailto:teo@teoljungberg.com?subject=Slack%20invite&body=I%20would%20like%20a%20Slack%20invite,%20please.)
    or
    [Calle](mailto:calle@calleerlandsson.com?subject=Slack%20invite&body=I%20would%20like%20a%20Slack%20invite,%20please.)

    ### Forum

    [Meetup.com discussion board](http://www.meetup.com/sthlmrb/messages/boards/)
