- @title = "Learn Ruby and Rails"

hgroup.page-title
  h2= @title

section
  markdown:
    The [Ruby](https://www.ruby-lang.org/en/) programming language is perhaps best known for the [Ruby on Rails](http://rubyonrails.org/) web framework that powers sites like [Twitter](http://twitter.com).

    Curious about Ruby or Rails? Drop by our monthly Ruby project night meetups and we'll help you get started. We also organize a free intro course four times a year, for any skill level. [See the event calendar.](http://www.meetup.com/sthlmrb/)

    Can't wait for the next meetup? See the following resources to start learning on your own.

    ### How to learn

    Thoughtbot has "trail maps" for [learning Ruby](https://learn.thoughtbot.com/ruby) and [learning Rails](https://learn.thoughtbot.com/rails).

    ### Online resources for Ruby

    * [Try Ruby](http://tryruby.org/) in your browser.
    * Play the [Ruby Warrior](https://www.bloc.io/ruby-warrior/) game by writing Ruby code in your browser.
    * Learn Ruby with the [Ruby Koans](http://rubykoans.com/).
    * Submit [exercism.io](http://exercism.io/) exercises and get feedback.

    ### Online resources for Rails

    * [Railsbridge's Rails tutorial](http://docs.railsbridge.org/installfest/choose_your_operating_system), used in our intro course.
    * [Michael Hartl's Rails tutorial](http://ruby.railstutorial.org/ruby-on-rails-tutorial-book), very popular.

    ### Books

    * *[Learn to Program](http://pragprog.com/book/ltp2/learn-to-program)*. "Starting with small, simple one-line programs to calculate your age in seconds, you’ll see how to advance to fully structured, real programs."
    * *[Programming Ruby ("The Pickaxe")](http://pragprog.com/book/ruby4/programming-ruby-1-9-2-0)*. "The only complete reference for both Ruby 1.9 and Ruby 2.0, the very latest version of Ruby."
