- @title = "Learn Ruby and Rails"

hgroup.page-title
  h2= @title

section
  markdown:
    The [Ruby](https://www.ruby-lang.org/en/) programming language is perhaps best known for the [Ruby on Rails](http://rubyonrails.org/) web framework that powers sites like [Twitter](http://twitter.com).

    Curious about Ruby or Rails? Drop by our monthly Ruby project night meetups and we'll help you get started. We also organize a free intro course four times a year, for any skill level. [See the event calendar.](http://www.meetup.com/sthlmrb/)

    Can't wait for the next meetup? See the following resources to start learning on your own.

    ### Curriculum

    Our installfest and intro course events follow the [Railbridge tutorials](http://docs.railsbridge.org/frontend/). You can study these on your own, or [attend one of our free events](http://www.meetup.com/sthlmrb/) to get in-person help by experienced Rails developers.

    * [Installing Ruby and Rails](http://docs.railsbridge.org/installfest)
    * [Intro to Rails](http://docs.railsbridge.org/intro-to-rails)
    * [Intermediate Rails](http://docs.railsbridge.org/intermediate-rails)
    * [Frontend (HTML, CSS and JavaScript)](http://docs.railsbridge.org/frontend)

    ### Other online resources for Ruby

    * [Try Ruby](http://tryruby.org/) in your browser.
    * [Rails Girls](http://railsgirls.com/materials) tutorial and tips of where to go next.
    * Play the [Ruby Warrior](https://www.bloc.io/ruby-warrior/) game by writing Ruby code in your browser.
    * Learn Ruby with the [Ruby Koans](http://rubykoans.com/).
    * Submit [exercism.io](http://exercism.io/) exercises and get feedback.

    ### Other online resources for Rails

    * [Michael Hartl's Rails tutorial](http://ruby.railstutorial.org/ruby-on-rails-tutorial-book), very popular.
    * thoughtbot has "trails" for [learning Ruby on Rails](https://thoughtbot.com/upcase/rails).
    * [Revelry's - A Beginner's Guide to Ruby on Rails](https://revelry.co/rails-beginners-guide/)

    ### Books

    * *[Learn to Program](http://pragprog.com/book/ltp2/learn-to-program)*. "Starting with small, simple one-line programs to calculate your age in seconds, you’ll see how to advance to fully structured, real programs."
    * *[Programming Ruby ("The Pickaxe")](http://pragprog.com/book/ruby4/programming-ruby-1-9-2-0)*. "The only complete reference for both Ruby 1.9 and Ruby 2.0, the very latest version of Ruby."
