- @title = "Organize a meetup"

hgroup.page-title
  h2 Organize a meetup

section
  markdown:
    Anyone is free to organize a meetup, of any size. Please do!

    ### Meetup checklist

    * [See Barsoom's meetup checklist](https://github.com/barsoom/devbook/tree/master/arranging_a_meetup)

    ### Types of meetups

    Types of meetups include:

    * Presentations
    * Exercises/katas
    * Open Space
    * Book club
    * Hack night
    * Watch/discuss a screencast
    * Watch/discuss a conference talk
    * Walk/hike/run
    * Pub night
    * Pre-conference party
