- @title = "Organize a meetup"

hgroup.page-title
  h2=@title

section
  markdown:
    Anyone is free to organize a meetup, of any size. Please do!

    _Note: Stockholm Ruby is not associated with the ~~[Stockholm Ruby](https://www.meetup.com/sthlmrb/)~~ Meetup group._

    ### Meetup checklist

    * [See Barsoom's meetup checklist](https://github.com/barsoom/devbook/tree/master/arranging_a_meetup)

    ### Types of events

    You could arrange one of these events, or something else entirely:

    * Presentations
    * Exercises/katas
    * Open Space
    * Book club
    * Hack night
    * Watch/discuss a screencast
    * Watch/discuss a conference talk
    * Walk/hike/run
    * Pub night
    * Pre-conference party
