$red: #c00;
$light-gray: #ddd;
$dark-gray: #aaa;

body {
  padding: 20px 40px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $light-gray;
  &, &:visited {
    color: $red;
  }
  &:hover {
    border-color: $dark-gray;
  }
}

h1 {
  font-size: 35px;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 10px;
}

.hashtag {
  font-size: 35px;
  margin: 30px 0 50px;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}
