$red: #c00;
$light-red: lighten($red, 20%);
$light-gray: #ddd;
$dark-gray: #aaa;
$hashtag-color: $dark-gray;

@mixin small-text {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  padding: 30px 40px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $light-gray;
  &, &:visited {
    color: $red;
  }
  &:hover {
    border-color: $dark-gray;
  }
  &.image-link {
    border-bottom: none;
  }
}

.site-title, nav {
  text-align: center;
}

nav {
  @include small-text;
  margin: 30px 0;

  a {
    border-bottom: none;
    &:hover { color: darken($red, 15%); }
  }

  .hashtag a {
    color: $hashtag-color;
    &:hover { color: darken($hashtag-color, 20%); }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline;
    margin: 0 20px;
  }
}

.logo {
  width: 300px;
}

h1 {
  font-size: 45px;
  font-weight: 900;
  margin-top: -20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 30px;
}

.subtitle {
  color: $dark-gray;
  font-size: 16px;
}

.mup-widget {
  text-align: center;
}


footer {
  text-align: center;
  color: $dark-gray;
  a, a:visited { color: #777; }
  font-size: 14px;

  p {
    display: inline;
    margin: 0 10px;
    &:first-child { margin: auto; }
  }
}


section {
  margin: 50px 0;
}

.page-title {
  margin: 50px 0 30px;
}

.page-title + section {
  margin-top: 0;
}

li {
  margin: 15px 0;
}


.next-event {
  background: #f2f2f2;
  padding: 30px;
  font-size: 16px;

  // Don't mess up the box padding.
  h3 { margin-top: 0; }
  .event-description :last-child { margin-bottom: 0; }

  hgroup {
    text-align: center;
  }
  .event-name {
    margin-bottom: 10px;
  }
  .event-time, .event-venue {
    margin: 0 10px;
    color: $dark-gray;
  }
  .event-description {
    font-style: italic;
  }
}

.calendar-page {
  border: 1px solid #dedede;
  width: 3em;
  float: left;
  margin: 5px;
  text-align: center;
  * { padding: 3px 5px; }
  .calendar-page-month {
    background: $red;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
  }
  .calendar-page-day {
    background: #fff;
    font-size: 18px;
  }
}

.more-events {
  text-align: center;
  h3 { font-size: 18px; }
  h3:nth-child(1) { opacity: 0.8; }
  h3:nth-child(2) { opacity: 0.6; }
  h3:nth-child(3) { opacity: 0.4; }
  h3:nth-child(4) { opacity: 0.2; }
}

.all-events {
  text-align: center;
  margin: 30px 0;
}
