- @title = "Work with Ruby/Rails in Stockholm"

hgroup.page-title
  h2= @title

section
  markdown:
    * Announce your availability [on the rails-se mailing list](http://groups.google.com/group/rails-se).
    * [See this list](http://rails.se/directory#stockholm) of Stockholm companies using Ruby and Rails.
