:root {
  --color-red: oklch(0.5308 0.2178 29.23);
  --color-light-gray: oklch(0.8975 0 0);
  --color-dark-gray: oklch(0.738 0 0);

  --color-hashtag: var(--color-dark-gray);

  --text-xxsmall: 10px;
  --text-xsmall: 15px;
  --text-small: 16px;

  --text-medium: 18px;
  --text-large: 24px;
  --text-xlarge: 45px;
}

body {
  padding: 30px 10px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--text-medium);
  font-weight: 400;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--color-light-gray);
  &,
  &:visited {
    color: var(--color-red);
  }
  &:hover {
    border-color: var(--color-dark-gray);
  }
  &.image-link {
    border-bottom: none;
  }
}

.site-title,
nav {
  text-align: center;
}

.hashtag {
  margin-top: -5px;
  font-size: var(--text-xsmall);
  font-weight: 700;
  text-transform: uppercase;

  a {
    border-bottom: none;
    color: var(--color-hashtag);
    letter-spacing: 1px;
    &:hover {
      color: oklch(from currentColor calc(l - 0.2) c h);
    }
  }
}

nav {
  margin: 20px 0;
  font-size: var(--small);
  font-weight: 700;
  text-transform: uppercase;

  a {
    border-bottom: none;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px;
    &:hover {
      color: oklch(from currentColor calc(l - 0.15) c h);
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline;
    margin: 0 10px;
  }
}

.logo {
  max-width: 100%;
  width: 300px;
}

h1 {
  font-size: var(--text-xlarge);
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: -20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 30px;
}

footer {
  text-align: center;
  color: var(--color-dark-gray);
  a,
  a:visited {
    color: #777;
  }
  font-size: var(--text-xsmall);

  p {
    display: inline;
    margin: 0 10px;
    &:first-child {
      margin: auto;
    }
  }
}

section {
  line-height: 1.5;
  margin: 40px 0;
}

.page-title {
  margin: 50px 0 30px;
}

.page-title + section {
  margin-top: 0;
}

li {
  margin: 15px 0;
}

.about-us {
  .hero {
    font-size: var(--text-large);
  }

  .details {
    font-size: var(--small);
  }
}

.next-event {
  background: #f2f2f2;
  padding: 30px;
  font-size: var(--text-small);

  // Don't mess up the box padding.
  h3 {
    margin-top: 0;
  }
  .event-description :last-child {
    margin-bottom: 0;
  }

  hgroup {
    text-align: center;
  }
  .event-name {
    margin-bottom: 10px;
  }
  .event-time,
  .event-venue {
    margin: 0 10px;
    color: var(--color-dark-gray);
  }
  .event-description {
    margin-top: 10px;
    font-style: italic;
  }
}

.calendar-page {
  border: 1px solid #dedede;
  width: 3em;
  float: left;
  margin: 5px;
  text-align: center;
  * {
    padding: 3px 5px;
  }
  .calendar-page-month {
    background: var(--color-red);
    color: #fff;
    text-transform: uppercase;
    font-size: var(--text-xxsmall);
  }
  .calendar-page-day {
    background: #fff;
    font-size: var(--text-medium);
  }
}

.more-events {
  text-align: center;
  h3 {
    font-size: var(--text-medium);
  }
  h3:nth-child(1) {
    opacity: 0.8;
  }
  h3:nth-child(2) {
    opacity: 0.6;
  }
  h3:nth-child(3) {
    opacity: 0.4;
  }
  h3:nth-child(4) {
    opacity: 0.2;
  }
}

.past-events {
  margin-bottom: 30px;

  ol {
    list-style-type: disc;

    li {
      margin: 0;
    }
  }

  h2 {
    font-size: var(--text-medium);
  }

  h3 {
    font-size: var(--text-small);
    margin: 0;
  }
}

.all-events {
  text-align: center;
  margin: 30px 0;
}
